.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--highlight-background-color);
  background-color: var(--background-color)
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
/* Styles for the carousel container */
.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative; /* Ensure the buttons stay within the container */
}

/* Styles for the carousel */
.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

/* Styles for carousel cards */
.carousel-card {
  flex: 0 0 300px; /* Adjust card width as needed */
  margin: 0 10px;
  border: 1px solid #ccc;
  padding: 20px;
}

/* Styles for navigation buttons */
.carousel-button {
  position: absolute;
  top: 50%; /* Position buttons vertically in the middle */
  transform: translateY(-50%);
  padding: 10px 15px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.carousel-button:first-child {
  left: 10px;
}

.carousel-button:last-child {
  right: 10px;
}
